src/main/resources/wsdl/WebServiceLdapPpe_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><definitions targetNamespace="http://bancodebogota.com/WSLdapPPE/service/v1" name="v1/WebServiceLdapPpe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://bancodebogota.com/WSLdapPPE/service/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bancodebogota.com/WSLdapPPE/service/v1" schemaLocation="WebServiceLdapPpe.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAtributosLdapByIdDominio">
    <part name="parameters" element="tns:getAtributosLdapByIdDominio"/>
  </message>
  <message name="getAtributosLdapByIdDominioResponse">
    <part name="parameters" element="tns:getAtributosLdapByIdDominioResponse"/>
  </message>
  <message name="getUsuario">
    <part name="parameters" element="tns:getUsuario"/>
  </message>
  <message name="getUsuarioResponse">
    <part name="parameters" element="tns:getUsuarioResponse"/>
  </message>
  <message name="getUsuario_2">
    <part name="parameters" element="tns:getUsuario_2"/>
  </message>
  <message name="getUsuario_2Response">
    <part name="parameters" element="tns:getUsuario_2Response"/>
  </message>
  <message name="getEmailUsuarioNt">
    <part name="parameters" element="tns:getEmailUsuarioNt"/>
  </message>
  <message name="getEmailUsuarioNtResponse">
    <part name="parameters" element="tns:getEmailUsuarioNtResponse"/>
  </message>
  <message name="getGruposUsuario">
    <part name="parameters" element="tns:getGruposUsuario"/>
  </message>
  <message name="getGruposUsuarioResponse">
    <part name="parameters" element="tns:getGruposUsuarioResponse"/>
  </message>
  <message name="getAtributosLdapByNtDominio">
    <part name="parameters" element="tns:getAtributosLdapByNtDominio"/>
  </message>
  <message name="getAtributosLdapByNtDominioResponse">
    <part name="parameters" element="tns:getAtributosLdapByNtDominioResponse"/>
  </message>
  <message name="getOpcionesByRol">
    <part name="parameters" element="tns:getOpcionesByRol"/>
  </message>
  <message name="getOpcionesByRolResponse">
    <part name="parameters" element="tns:getOpcionesByRolResponse"/>
  </message>
  <message name="getOpcionesByRolAndTipo">
    <part name="parameters" element="tns:getOpcionesByRolAndTipo"/>
  </message>
  <message name="getOpcionesByRolAndTipoResponse">
    <part name="parameters" element="tns:getOpcionesByRolAndTipoResponse"/>
  </message>
  <message name="obtenerOpcionesPortal">
    <part name="parameters" element="tns:obtenerOpcionesPortal"/>
  </message>
  <message name="obtenerOpcionesPortalResponse">
    <part name="parameters" element="tns:obtenerOpcionesPortalResponse"/>
  </message>
  <message name="obtenerOpcionesByTipo">
    <part name="parameters" element="tns:obtenerOpcionesByTipo"/>
  </message>
  <message name="obtenerOpcionesByTipoResponse">
    <part name="parameters" element="tns:obtenerOpcionesByTipoResponse"/>
  </message>
  <message name="obtenerOpcionesByCodigoCarpeta">
    <part name="parameters" element="tns:obtenerOpcionesByCodigoCarpeta"/>
  </message>
  <message name="obtenerOpcionesByCodigoCarpetaResponse">
    <part name="parameters" element="tns:obtenerOpcionesByCodigoCarpetaResponse"/>
  </message>
  <message name="obtenerOpcionByCodigo">
    <part name="parameters" element="tns:obtenerOpcionByCodigo"/>
  </message>
  <message name="obtenerOpcionByCodigoResponse">
    <part name="parameters" element="tns:obtenerOpcionByCodigoResponse"/>
  </message>
  <message name="obtenerOpcionesByListaCodigos">
    <part name="parameters" element="tns:obtenerOpcionesByListaCodigos"/>
  </message>
  <message name="obtenerOpcionesByListaCodigosResponse">
    <part name="parameters" element="tns:obtenerOpcionesByListaCodigosResponse"/>
  </message>
  <message name="obtenerRolesPortal">
    <part name="parameters" element="tns:obtenerRolesPortal"/>
  </message>
  <message name="obtenerRolesPortalResponse">
    <part name="parameters" element="tns:obtenerRolesPortalResponse"/>
  </message>
  <message name="obtenerGruposPortal">
    <part name="parameters" element="tns:obtenerGruposPortal"/>
  </message>
  <message name="obtenerGruposPortalResponse">
    <part name="parameters" element="tns:obtenerGruposPortalResponse"/>
  </message>
  <message name="obtenerRolesByGrupo">
    <part name="parameters" element="tns:obtenerRolesByGrupo"/>
  </message>
  <message name="obtenerRolesByGrupoResponse">
    <part name="parameters" element="tns:obtenerRolesByGrupoResponse"/>
  </message>
  <message name="getAtributosLdapByNt">
    <part name="parameters" element="tns:getAtributosLdapByNt"/>
  </message>
  <message name="getAtributosLdapByNtResponse">
    <part name="parameters" element="tns:getAtributosLdapByNtResponse"/>
  </message>
  <message name="getAtributosLdapById">
    <part name="parameters" element="tns:getAtributosLdapById"/>
  </message>
  <message name="getAtributosLdapByIdResponse">
    <part name="parameters" element="tns:getAtributosLdapByIdResponse"/>
  </message>
  <message name="getUsuarioConOpcionesXCarpetaSegunRol">
    <part name="parameters" element="tns:getUsuarioConOpcionesXCarpetaSegunRol"/>
  </message>
  <message name="getUsuarioConOpcionesXCarpetaSegunRolResponse">
    <part name="parameters" element="tns:getUsuarioConOpcionesXCarpetaSegunRolResponse"/>
  </message>
  <message name="getRolesUsuario">
    <part name="parameters" element="tns:getRolesUsuario"/>
  </message>
  <message name="getRolesUsuarioResponse">
    <part name="parameters" element="tns:getRolesUsuarioResponse"/>
  </message>
  <message name="autenticarUsuario">
    <part name="parameters" element="tns:autenticarUsuario"/>
  </message>
  <message name="autenticarUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioResponse"/>
  </message>
  <message name="getUsuariosDeGrupo">
    <part name="parameters" element="tns:getUsuariosDeGrupo"/>
  </message>
  <message name="getUsuariosDeGrupoResponse">
    <part name="parameters" element="tns:getUsuariosDeGrupoResponse"/>
  </message>
  <message name="obtenerDominios">
    <part name="parameters" element="tns:obtenerDominios"/>
  </message>
  <message name="obtenerDominiosResponse">
    <part name="parameters" element="tns:obtenerDominiosResponse"/>
  </message>
  <message name="getGruposLdapUsuario">
    <part name="parameters" element="tns:getGruposLdapUsuario"/>
  </message>
  <message name="getGruposLdapUsuarioResponse">
    <part name="parameters" element="tns:getGruposLdapUsuarioResponse"/>
  </message>
  <message name="getUsuariosDeRol">
    <part name="parameters" element="tns:getUsuariosDeRol"/>
  </message>
  <message name="getUsuariosDeRolResponse">
    <part name="parameters" element="tns:getUsuariosDeRolResponse"/>
  </message>
  <portType name="v1/WebServiceLdapPpe">
    <operation name="getAtributosLdapByIdDominio">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByIdDominioRequest" message="tns:getAtributosLdapByIdDominio"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByIdDominioResponse" message="tns:getAtributosLdapByIdDominioResponse"/>
    </operation>
    <operation name="getUsuario">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuarioRequest" message="tns:getUsuario"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuarioResponse" message="tns:getUsuarioResponse"/>
    </operation>
    <operation name="getUsuario_2">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuario_2Request" message="tns:getUsuario_2"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuario_2Response" message="tns:getUsuario_2Response"/>
    </operation>
    <operation name="getEmailUsuarioNt">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getEmailUsuarioNtRequest" message="tns:getEmailUsuarioNt"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getEmailUsuarioNtResponse" message="tns:getEmailUsuarioNtResponse"/>
    </operation>
    <operation name="getGruposUsuario">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getGruposUsuarioRequest" message="tns:getGruposUsuario"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getGruposUsuarioResponse" message="tns:getGruposUsuarioResponse"/>
    </operation>
    <operation name="getAtributosLdapByNtDominio">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByNtDominioRequest" message="tns:getAtributosLdapByNtDominio"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByNtDominioResponse" message="tns:getAtributosLdapByNtDominioResponse"/>
    </operation>
    <operation name="getOpcionesByRol">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getOpcionesByRolRequest" message="tns:getOpcionesByRol"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getOpcionesByRolResponse" message="tns:getOpcionesByRolResponse"/>
    </operation>
    <operation name="getOpcionesByRolAndTipo">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getOpcionesByRolAndTipoRequest" message="tns:getOpcionesByRolAndTipo"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getOpcionesByRolAndTipoResponse" message="tns:getOpcionesByRolAndTipoResponse"/>
    </operation>
    <operation name="obtenerOpcionesPortal">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesPortalRequest" message="tns:obtenerOpcionesPortal"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesPortalResponse" message="tns:obtenerOpcionesPortalResponse"/>
    </operation>
    <operation name="obtenerOpcionesByTipo">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByTipoRequest" message="tns:obtenerOpcionesByTipo"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByTipoResponse" message="tns:obtenerOpcionesByTipoResponse"/>
    </operation>
    <operation name="obtenerOpcionesByCodigoCarpeta">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByCodigoCarpetaRequest" message="tns:obtenerOpcionesByCodigoCarpeta"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByCodigoCarpetaResponse" message="tns:obtenerOpcionesByCodigoCarpetaResponse"/>
    </operation>
    <operation name="obtenerOpcionByCodigo">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionByCodigoRequest" message="tns:obtenerOpcionByCodigo"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionByCodigoResponse" message="tns:obtenerOpcionByCodigoResponse"/>
    </operation>
    <operation name="obtenerOpcionesByListaCodigos">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByListaCodigosRequest" message="tns:obtenerOpcionesByListaCodigos"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerOpcionesByListaCodigosResponse" message="tns:obtenerOpcionesByListaCodigosResponse"/>
    </operation>
    <operation name="obtenerRolesPortal">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerRolesPortalRequest" message="tns:obtenerRolesPortal"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerRolesPortalResponse" message="tns:obtenerRolesPortalResponse"/>
    </operation>
    <operation name="obtenerGruposPortal">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerGruposPortalRequest" message="tns:obtenerGruposPortal"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerGruposPortalResponse" message="tns:obtenerGruposPortalResponse"/>
    </operation>
    <operation name="obtenerRolesByGrupo">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerRolesByGrupoRequest" message="tns:obtenerRolesByGrupo"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerRolesByGrupoResponse" message="tns:obtenerRolesByGrupoResponse"/>
    </operation>
    <operation name="getAtributosLdapByNt">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByNtRequest" message="tns:getAtributosLdapByNt"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByNtResponse" message="tns:getAtributosLdapByNtResponse"/>
    </operation>
    <operation name="getAtributosLdapById">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByIdRequest" message="tns:getAtributosLdapById"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getAtributosLdapByIdResponse" message="tns:getAtributosLdapByIdResponse"/>
    </operation>
    <operation name="getUsuarioConOpcionesXCarpetaSegunRol">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuarioConOpcionesXCarpetaSegunRolRequest" message="tns:getUsuarioConOpcionesXCarpetaSegunRol"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuarioConOpcionesXCarpetaSegunRolResponse" message="tns:getUsuarioConOpcionesXCarpetaSegunRolResponse"/>
    </operation>
    <operation name="getRolesUsuario">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getRolesUsuarioRequest" message="tns:getRolesUsuario"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getRolesUsuarioResponse" message="tns:getRolesUsuarioResponse"/>
    </operation>
    <operation name="autenticarUsuario">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
    </operation>
    <operation name="getUsuariosDeGrupo">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuariosDeGrupoRequest" message="tns:getUsuariosDeGrupo"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuariosDeGrupoResponse" message="tns:getUsuariosDeGrupoResponse"/>
    </operation>
    <operation name="obtenerDominios">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerDominiosRequest" message="tns:obtenerDominios"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/obtenerDominiosResponse" message="tns:obtenerDominiosResponse"/>
    </operation>
    <operation name="getGruposLdapUsuario">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getGruposLdapUsuarioRequest" message="tns:getGruposLdapUsuario"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getGruposLdapUsuarioResponse" message="tns:getGruposLdapUsuarioResponse"/>
    </operation>
    <operation name="getUsuariosDeRol">
      <input wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuariosDeRolRequest" message="tns:getUsuariosDeRol"/>
      <output wsam:Action="http://bancodebogota.com/WSLdapPPE/service/v1/v1/WebServiceLdapPpe/getUsuariosDeRolResponse" message="tns:getUsuariosDeRolResponse"/>
    </operation>
  </portType>
  <binding name="WebServiceLdapPpeHttPortBinding" type="tns:v1/WebServiceLdapPpe">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAtributosLdapByIdDominio">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuario">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuario_2">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmailUsuarioNt">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getGruposUsuario">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getAtributosLdapByNtDominio">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getOpcionesByRol">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getOpcionesByRolAndTipo">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerOpcionesPortal">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerOpcionesByTipo">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerOpcionesByCodigoCarpeta">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerOpcionByCodigo">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerOpcionesByListaCodigos">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerRolesPortal">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerGruposPortal">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerRolesByGrupo">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getAtributosLdapByNt">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getAtributosLdapById">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuarioConOpcionesXCarpetaSegunRol">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getRolesUsuario">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticarUsuario">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuariosDeGrupo">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerDominios">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getGruposLdapUsuario">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsuariosDeRol">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="v1/WebServiceLdapPpe">
    <port name="WebServiceLdapPpeHttPort" binding="tns:WebServiceLdapPpeHttPortBinding">
      <soap12:address location="http://ppeportal:8000/WebServiceLdapPpe/v1/WebServiceLdapPpe"/>
    </port>
  </service>
</definitions>